<section class="porperty-binding">
   
   <!-- <article>
      <h3>Interpolation / interpolação</h3>
      <p>String redenrizada com interpolação: {{ url }} </p>
      <p>resultado de 1 + 1 é: {{ 1 + 1}} </p>
      <p>resultado de 1 + 1 não é {{ 1 + 1 + getValor() }  </p>
      <p> Usando uma expressão Booleana: {{ getCurtiCurso() }} </p>
      <p> Usando uma expressão Booleana cursoAngular +  getCurtiCurso tem o resultado: {{ cursoAngular && getCurtiCurso() }} </p>
    </article> 

     <article>
        <h3>Porperty-binding   </h3>
         <img src="{{ urlimage }} "> <br>
         <img [src]="urlimage"><br>
         <img bind-src="urlimage">
    </article> 


     <h3>Class and Style Binding</h3>
    <br>
    <br>

        selecione uma classe: 
        <select #classe (change)="0">
            <option value="alert-success">Sucesso</option>
            <option value="alert-info">Info</option>
            <option value="alert-warning">Alert</option>
            <option value="alert-danger">Erro</option>
        </select>
        <br><br>

        <div class ="alert {{ classe.value }}" role="alert"> 
        texto fica colorido conforme valor no combobox.</div>


        <div class="alert" role="alert"
          [class.alert-success]="classe.value == 'alert-success'">
        Sucesso</div>
        <div class="alert" role="alert"
        [class.alert-info]="classe.value == 'alert-info'">Info</div>
        <div class="alert" role="alert"
            [class.alert-warning]="classe.value == 'alert-warning'">Alert</div>
        <div class="alert" role="alert"
            [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>

            <div class="alert alert-danger" role="alert"
            [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">esse texto so aparece se selecionar erro.</div>
  </section>

  <section class-="event-binding">
      <article>
          <h3>Event Binding</h3>
          <div>
              <button (click)="botaoClicado()"
               class="btn btn-primary">
               Não aperte!
            </button>

            <br><br>

            <input type="text"
            (keyup)="onKeyUp($event)"
            (keyup.enter)="salvarValor(campoInput.value)"
            (blur)="salvarValor(campoInput.value)"
            #campoInput>
            <p> o Valor atual é: {{ valorAtual }} </p>
            <p> o Valor salvo é: {{ valorSalvo }} </p>

            <br><br>
            <span
                (mouseover)="onMouseOverOut()"
                (mouseout)="onMouseOverOut()"
                [class.highlight]="isMouseOver"
                >
                Passe o Mouse sobre mim.
            </span>
          </div>

  
      </article>
  </section> -->

  <section class='twoway data binding'>
<article>
    <h3>Two-way data binding</h3>
    <div>
        <input type="text" 
        [value]="nome"
        (input)="nome = campoInput.value"
        #campoInput
        >
        <input type="text"
        [ngModel]="nome"
        (ngModelChange)="nome = $event"
        >
        <input type="text" [(ngModel)]="nome">
        <p>você digitou o nome: {{ nome }} </p>
    </div>

    <div>
        <p>Digite seu nome:</p>
        <input type="text" [(ngModel)]="pessoa.nome">
        <p>Digite sua idade</p>
        <input type="text" [(ngModel)]="pessoa.idade">
        <p>Meu nome é: {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade. </p>

       
    </div>
</article>


  </section>